
a:link, a:visited {
    color: #333333;
}

a:hover {
    color: #4b88b7;
}

.navbar-inverse .brand i {
    margin: 0 7px 0 0;
}

.page-content .page-header:first-child h1 small,
.nav-list > li .submenu > li > a {
    color: #333333;
}

.btn-mini > [class*="icon-"], .btn-minier > [class*="icon-"] {
    margin-right: 0;
}

.table th, .table td {
    vertical-align: middle !important;
}

.display-none {
    display: none;
}

form {
    margin: 0;
}

.line-through {
    text-decoration: line-through;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], 
input[type="search"], input[type="tel"], input[type="color"] {
    color: #333333 !important;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, 
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
    color: #333333 !important;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input {
    color: #333333 !important;
}



div.frontend-container {   }
div.frontend-container div.widget-header { cursor: move; } 
div.frontend-container div.widget-box { border-width: 2px; }
div.frontend-container td.frontend-container:empty { height: 50px; }
div.frontend-container td.frontend-container div.widget-box { margin: 1px; }
div.frontend-widget-list { width: 200px; display: table; }
div.dragabble, div.dragabble-clone { padding: 5px; margin: 5px; cursor: pointer; background: greenyellow; }
div.frontend-container div.dragabble { display: table !important; }
div.menu { top:100px; right: 100px; position: absolute; width: 400px; height: 400px; background: #cccccc; }
div.hover { border: 2px solid blue; }


.form-horizontal .controls span.lbl {
    margin-top: 5px;
}

[class*="header-color-"] > .widget-toolbar > [data-action="copy"] {
    color: #D3E4ED;
}

.widget-toolbar > [data-action="copy"], .header-color-dark > .widget-toolbar > [data-action="copy"] {
    color: #D3E4ED;
}

[class*="header-color-"] > .widget-toolbar > [data-action="cut"] {
    color: #D3E4ED;
}

.widget-toolbar > [data-action="cut"], .header-color-dark > .widget-toolbar > [data-action="cut"] {
    color: #D3E4ED;
}

[class*="header-color-"] > .widget-toolbar > [data-action="copy-link"] {
    color: #D3E4ED;
}

.widget-toolbar > [data-action="copy-link"], .header-color-dark > .widget-toolbar > [data-action="copy-link"] {
    color: #D3E4ED;
}

div.widget-header.widget-header-blue { background: linear-gradient(to bottom, #ffffff 0%, #d9edf7 100%) repeat-x scroll 0 0 #f7f7f7; }
div.widget-header.widget-header-green { background: linear-gradient(to bottom, #ffffff 0%, #dff0d8 100%) repeat-x scroll 0 0 #f7f7f7; }


/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 
 
.telenok-tree .jstree-default li, 
.telenok-tree .jstree-default ins { background-image:url("jstree/d.png"); background-repeat:no-repeat; background-color:transparent; }
.telenok-tree .jstree-default ins {cursor: pointer;}
.telenok-tree .jstree-default li { overflow: hidden; background-position:-92px 0; background-repeat:repeat-y; }
.telenok-tree .jstree-default li.jstree-last { background:transparent; }
.telenok-tree .jstree-default .jstree-open > ins { background-position:-72px -1px; }
.telenok-tree .jstree-default .jstree-closed > ins { background-position:-54px -1px; }
.telenok-tree .jstree-default .jstree-leaf > ins { background-position:-35px -5px; }

.telenok-tree .jstree a { color: #333333; padding: 4px 2px 4px 1px !important; border: 1px solid white; }
.telenok-tree .jstree a:hover { color: #4b88b7; }

.telenok-tree .jstree-default .jstree-hovered { background:#f0f7fc; border:1px solid #e7f4f9; padding:4px 2px 4px 1px; }
.telenok-tree .jstree-default .jstree-clicked { background:#e7f4f9; border:1px solid #e7f4f9; padding:4px 2px 4px 1px; }
.telenok-tree .jstree-default a .jstree-icon {padding: 0 1px 0 0; background-position:-56px -21px; }
.telenok-tree .jstree-default a.jstree-clicked .jstree-icon { background-position: -56px -41px; }
.telenok-tree .jstree-default a.jstree-loading .jstree-icon { background:url("jstree/throbber.gif") center center no-repeat !important; }

.telenok-tree .jstree-default.jstree-focused { background:#ffffff; }

.telenok-tree .jstree-default .jstree-no-dots li, 
.telenok-tree .jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.telenok-tree .jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.telenok-tree .jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.telenok-tree .jstree-default .jstree-no-icons a .jstree-icon { display:none; }

.telenok-tree .jstree-default .jstree-search { font-style:italic; }

.telenok-tree .jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.telenok-tree .jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.telenok-tree .jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.telenok-tree .jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.telenok-tree .jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.telenok-tree .jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.telenok-tree .jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.telenok-tree .jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }
 
#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url("jstree/d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url("jstree/d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-default { background:url("jstree/d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.telenok-tree .jstree-default a.jstree-search { background-color: #6FB3E0 !important; color: white; font-size: 13px; font-style: normal; }
.telenok-tree .jstree-default .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:#333333; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:#4b88b7; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }

.telenok-tree .jstree-default li[rel="root"] > a.jstree-clicked .jstree-icon {
    background-position: 0 0;
}

.telenok-tree .jstree-default li[rel="folder"] > a.jstree-clicked .jstree-icon {
    background-position: 0 0;
} 
*/


.telenok-tree .jstree.jstree-proton a {
    font-size: 13px;
    border-radius: 0px;
    font-family: "Open Sans" !important;
}

.telenok-tree .jstree.jstree-proton {
    font-family: inherit !important;
    text-align: left;
}

.telenok-tree .jstree.jstree-proton a.jstree-search {
    color: red;
    font-weight: bold;
    font-style: normal;
}

.telenok-tree .jstree.jstree-proton a.jstree-search.jstree-clicked {
    color: white;
}

.telenok-tree .jstree.jstree-proton a.jstree-search.jstree-hovered {
    color: white;
}

.telenok-tree .jstree .jstree-open > ins, .telenok-tree .jstree .jstree-closed > ins {
    cursor: pointer;
}



.dataTables_wrapper .dataTables_processing {
    position: absolute;
    right: 30px;
    top: 25px;
    color: white;
}

.dataTables_wrapper .pagination li {display: none;}
.dataTables_wrapper .pagination li.prev, 
.dataTables_wrapper .pagination li.next {display: inline;}

.dataTable th[class*="sort"]:after {
    content: "";
}




body.telenok-backend .modal-dialog {
    width: 1000px; 
}

body.telenok-backend .modal-backdrop {
  position: fixed !important;
}

body.telenok-backend .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 28px;
    width: 150px !important;
}

body.telenok-backend .chosen-container.chosen-container-single a.chosen-single {
    height: 28px;
}

.chosen-container-single .chosen-single abbr {
    top: 8px !important;
}

.chosen-container-single .chosen-single {
    line-height: 26px !important;
}

.chosen-single div b:before {
    top: 0;
}

body.telenok-backend .ace-settings-box.open {
    overflow: visible;
}

body.telenok-backend .chosen-container-single .chosen-search:after {
    content: "";
}

body.telenok-backend .chosen-container-single .chosen-single abbr:after {
    content: "";
}

body.telenok-backend table.dataTable {
    width: 100%;
}


body.telenok-backend input.tree-search-query {
    margin: 0 5px;
}

body.telenok-backend ul.nav-tabs:empty {
    border: 0;
}

body.telenok-backend div.tab-content:empty {
    border: 0;
} 

body.telenok-backend div.error-container:empty { display: none; }


.help-button {
    margin-top: 5px;
    line-height: 19px;
    cursor: pointer;
}

/* Fix for dropdown menu in datatable header for background div, which has z-index: 2001 */
ul.DTTT_dropdown.dropdown-menu {
    z-index: 2003;
}

div.DTTT_collection_background {
    background: none !important;
    z-index: 2001;
}

